@use '../../../../styles/_variables' as *
@use '../../../../styles/_functions' as *
@use '../../../../styles/_mixins' as *

.product
    cursor: pointer
    border-radius: 4px
    padding: 12px
    transition: box-shadow 0.2s ease-in

    &:hover
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

    .image
        // border: solid 1px pink
        width: 230px
        height: 230px
        margin: 0 0 12px 0

        img
            height: 100%
            width: 100%
            object-fit: cover

    .productName
        font-weight: 500
        margin: 0 0 8px 0

    .price
        font-size: 14px
        font-weight: 500
