<app-header />
<main>
  <div class="container">
    <div class="hero">
      <div class="overlay"></div>
      <img src="/hero.png" alt="hero" />
      <div class="hero-content">
        <h1 class="hero-text">
          Level Up Your Sneaker Game With These New Drops
        </h1>
        <a href="" class="cta"
          >Shop now
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: #0f172a"
          >
            <path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </a>
      </div>
    </div>

    <section class="brands">
      <div class="heading">
        <h3 class="sectionTitle">Browse Brands</h3>
        <a href="" class="more"
          >Shop All
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: #0f172a"
          >
            <path
              d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
            ></path></svg
        ></a>
      </div>

      <ul class="brandList">
        <li>
          <a href=""><img src="/nike.svg" alt="Nike" /></a>
        </li>
        <li>
          <a href=""><img src="/jordans.svg" alt="Jordans" /></a>
        </li>
        <li>
          <a href=""><img src="/adidas.svg" alt="Adidas" /></a>
        </li>
        <li>
          <a href=""><img src="/newbalance.svg" alt="New Balance" /></a>
        </li>
        <li>
          <a href=""><img src="/balenciaga.svg" alt="Balenciaga" /></a>
        </li>
        <li>
          <a href=""><img src="/vans.svg" alt="Vans" /></a>
        </li>
        <li>
          <a href=""><img src="/puma.svg" alt="Puma" /></a>
        </li>
      </ul>
    </section>

    <section class="featured">
      <div class="heading">
        <h3 class="sectionTitle">Featured</h3>
        <a href="" class="more"
          >Shop All
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: #0f172a"
          >
            <path
              d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
            ></path></svg
        ></a>
      </div>

      <div class="products">
        <app-product-card />
        <app-product-card />
        <app-product-card />
      </div>
    </section>

    <section class="trending">
      <div class="heading">
        <h3 class="sectionTitle">Trending</h3>
        <a href="" class="more"
          >Shop All
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: #0f172a"
          >
            <path
              d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"
            ></path></svg
        ></a>
      </div>

      <div class="products">
        <app-product-card />
        <app-product-card />
        <app-product-card />
      </div>
    </section>
  </div>
</main>
<app-footer />
