<main>
  <button class="back" routerLink="/admin/inventory">
    <lucide-icon [img]="ChevronLeft" [size]="16"></lucide-icon>Back to Products
  </button>

  @if (product$ | async; as product) {
  <div class="header">
    <div class="product_name">
      <span class="product_id">#{{ product.product_id | zeroPad : 3 }}</span>
      <h1 class="title">{{ product.brand_name }} {{ product.model_name }}</h1>
    </div>

    <div class="options">
      <button class="menu" (click)="toggleOptions()">
        <lucide-icon
          [img]="EllipsisIcon"
          [size]="24"
          color="#0F172A"
        ></lucide-icon>
      </button>

      <div
        class="menu_options"
        [style.display]="isOptionsOpened ? 'block' : 'none'"
      >
        <button (click)="openEditModal()">
          <lucide-icon
            [img]="PencilIcon"
            [size]="14"
            color="#0F172A"
          ></lucide-icon>
          Update Product
        </button>
        <button>
          <lucide-icon
            [img]="Trash2Icon"
            [size]="14"
            color="#ff3d3d"
          ></lucide-icon>

          Delete Product
        </button>
      </div>
    </div>
  </div>

  <section class="content">
    <h3 class="sectionTitle">Details</h3>
    <table>
      <tr>
        <td class="property">Brand</td>
        <td>{{ product.brand_name }}</td>
      </tr>
      <tr>
        <td class="property">Name</td>
        <td>{{ product.model_name }}</td>
      </tr>
      <tr>
        <td class="property">Category</td>
        <td>{{ product.category_name }}</td>
      </tr>
      <tr>
        <td class="property">Description</td>
        <td>{{ product.model_description }}</td>
      </tr>
      <tr>
        <td class="property">Price</td>
        <td>GH₵{{ product.price }}</td>
      </tr>
    </table>
  </section>

  <section class="images">
    <h3 class="sectionTitle">Images</h3>
    @for (image of product.images; track $index) {
    <div>
      <img [src]="image" alt="" />
      <button class="delete_image">
        <lucide-icon
          [img]="Trash2Icon"
          [size]="24"
          color="#71717A"
        ></lucide-icon>
      </button>
    </div>
    }
  </section>

  <section class="variants">
    <h3>Variants</h3>
    <table>
      <thead>
        <tr>
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
        </tr>
      </thead>

      <tbody>
        @for (variant of product.variants; track variant.variant_id) {

        <tr>
          <td>{{ variant.color }}</td>
          <td>{{ variant.size }}</td>
          <td>{{ variant.quantity }}</td>
        </tr>
        }
      </tbody>
    </table>
  </section>

  }
</main>

<!-- Modal for editing product -->
<div
  class="lightbox"
  [style]="{ display: !isEditModalOpen ? 'none' : 'flex' }"
  (click)="isEditModalOpen = false"
></div>
<div *ngIf="isEditModalOpen">
  <div class="modal">
    <div class="modalHeader">
      <h3>Edit Product</h3>
      <button class="cancel" (click)="closeEditModal()">
        <lucide-angular [img]="CircleXIcon"></lucide-angular>
      </button>
    </div>
    <form [formGroup]="editProductForm" (ngSubmit)="updateProduct()">
      <label>
        Brand Name:
        <select formControlName="brand_name">
          <option *ngFor="let brand of brands" [value]="brand.brand_name">
            {{ brand.brand_name }}
          </option>
        </select>
      </label>
      <label>
        Model Name:
        <input type="text" formControlName="model_name" />
      </label>

      <label>
        Description:
        <textarea rows="6" formControlName="model_description"></textarea>
      </label>
      <label>
        Price:
        <input type="number" formControlName="price" />
      </label>

      <h4>Variants</h4>
      <div class="variants" formArrayName="variants">
        <div
          class="variantInputs"
          *ngFor="let variant of variants.controls; let i = index"
          [formGroupName]="i"
        >
          <label>
            Color:
            <input type="text" formControlName="color" />
          </label>
          <label>
            Size:
            <input type="text" formControlName="size" />
          </label>
          <label>
            Quantity:
            <input type="number" formControlName="quantity" />
          </label>
          <button
            class="removeVariant"
            type="button"
            (click)="removeVariant(i)"
          >
            <lucide-angular [img]="Trash2Icon" [size]="16"></lucide-angular>
          </button>
        </div>
        <button class="addVariant" type="button" (click)="addVariant()">
          + Add Variant
        </button>
      </div>

      <div class="buttons">
        <button class="save" type="submit">Save</button>
        <button class="cancel" type="button" (click)="closeEditModal()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
