<h1 class="title">Inventory</h1>
<p class="kicker">Manage your product inventory.</p>

<button class="add" (click)="openProductDialog()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    style="fill: rgba(255, 255, 255, 1)"
  >
    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
  </svg>
  Add Product
</button>

<!-- Create Dialog -->
<div
  class="lightbox"
  [style]="{ display: !isOpened ? 'none' : 'flex' }"
  (click)="isOpened = false"
></div>
<div class="categoryModal" [style]="{ display: !isOpened ? 'none' : 'block' }">
  <h1 class="modal_title">
    {{ selectedProduct ? "Edit Product" : "Create New Product" }}
  </h1>
  <p class="modal_kicker">
    New products are added to the product inventory so customers can see
  </p>

  <app-product-form (closeProductDialogEvent)="closeDialog($event)" />
</div>

<!-- Product List -->
<div class="productList">
  @if (products.length > 0 && !isLoading) { @for (product of products; track
  product.product_id) {
  <div class="product" [routerLink]="['/admin/inventory', product.product_id]">
    <div class="productImage">
      <img [src]="product.images[0]" alt="product image" />
    </div>
    <div class="productInfo">
      <h1 class="productName">
        {{ product.brand_name }} {{ product.model_name }}
      </h1>
      <span class="price">GHS {{ product.price }}</span>
    </div>
  </div>
  } } @if (!products && isLoading) {
  <div class="loader">
    <app-loader />
  </div>
  }
</div>

<router-outlet></router-outlet>
