<h1 class="title">Inventory</h1>
<p class="kicker">Manage your product inventory.</p>

<button class="add" (click)="openProductDialog()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="16"
    viewBox="0 0 24 24"
    style="fill: rgba(255, 255, 255, 1)"
  >
    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
  </svg>
  Add Product
</button>

<!-- Create Dialog -->
<div
  class="lightbox"
  [style]="{ display: !isOpened ? 'none' : 'flex' }"
  (click)="isOpened = false"
></div>
<div class="categoryModal" [style]="{ display: !isOpened ? 'none' : 'block' }">
  <h1 class="modal_title">
    {{ selectedProduct ? "Edit Product" : "Create New Product" }}
  </h1>
  <p class="modal_kicker">
    New products are added to the product inventory so customers can see
  </p>

  <app-product-form (closeProductDialogEvent)="closeDialog($event)" />
</div>

<!-- Product List -->
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Product Name</th>
      <th></th>
    </tr>
  </thead>
  @if (products.length > 0 && !isLoading) {
  <tbody>
    @for (product of products; track product.product_id) {
    <tr>
      <td>{{ product.brand }}</td>
      <td>{{ product.model }}</td>
      <td>
        <button class="edit">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: #0f172a"
          >
            <path
              d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z"
            ></path>
            <path
              d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"
            ></path>
          </svg>
        </button>
      </td>
      <td>
        <button class="delete">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: rgba(15, 23, 42, 1)"
          >
            <path
              d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"
            ></path>
            <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
          </svg>
        </button>
      </td>
    </tr>
    }
  </tbody>
  } @if (isLoading) {
  <div class="loader">
    <app-loader />
  </div>
  }
</table>
